
<body>
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto welcome-section">
    <h1 class="display-4">¡Bienvenido a Brifal!</h1>
    <h2 class="display-9">
        Su portal para la gestión eficiente de partes de mano de obra
    </h2>
    <p class="lead">
        Brifal se complace en presentarles la nueva aplicación de control de<br>
        partes de mano de obra, diseñada para optimizar la gestión de sus<br>
        recursos humanos en proyectos de ingeniería y construcción.
    </p>
</div>
</body>
